:root{
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #0191b3;
    --first-color-yellow: #f1d302ff;
    --first-color-yellow-red: #ffbf46ff;
    --first-color-light-blue: #94c5ccff;
    --second-color: #235789ff;
    --second-color-2: #525157;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;

    --light-blue: #94c5ccff;
    --cultured: #f8f8f8ff;
    --red-pigment: #ed1c24ff;
    --baby-powder: #fdfffcff;
    --bdazzled-blue: #0191b3;
    --safety-yellow: #f1d302ff;
    --maximum-yellow-red: #ffbf46ff;
    --black: #020100ff;
}

.bi-calendar {
  position: absolute;
  top: 10px;
  font-size: 20px;
  color: var(--first-color) !important;
  z-index: 1000;
}

#bi-1 {
  left: calc(100% - 25px);
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.input-daterange input {
    text-align: left !important;
}
.datepicker {
  background-color: #fff;
  border-radius: 0 !important;
  align-content: center !important;
  padding: 0 !important;
}

.datepicker-dropdown {
  border-right: var(--first-color) !important;
  border-left: var(--first-color) !important;
}

.datepicker-dropdown.datepicker-orient-left:before {
  left: calc(50% - 6px) !important;
}

.datepicker-dropdown.datepicker-orient-left:after {
  left: calc(50% - 5px) !important;
  border-bottom-color: var(--first-color) !important;
}

.datepicker-dropdown.datepicker-orient-right:after {
  border-bottom-color: var(--first-color) !important;
}

.datepicker table tr td.today, span.focused {
  border-radius: 50% !important;
  background-image: linear-gradient(#FFF3E0, #FFE0B2);
}

thead tr:nth-child(2) {
  background-color: var(--first-color) !important;
}

/*Weekday title*/
thead tr:nth-child(3) th {
  font-weight: bold !important;
  padding: 20px 10px !important;
  color: #BDBDBD !important;
}

tbody tr td {
  padding: 10px !important;
}

tfoot tr:nth-child(2) th {
  padding: 10px !important;
  border-top: 1px solid #CFD8DC !important;
}

.cw {
  font-size: 14px !important;
  background-color: #E8EAF6 !important;
  border-radius: 0px !important;
  padding: 0px 20px !important;
  margin-right: 10px solid #fff !important;
}

.old, .day, .new {
  width: 40px !important;
  height: 40px !important;
  border-radius: 0px !important;
}

.day.old, .day.new {
  color: #E0E0E0 !important;
}

.day.old:hover, .day.new:hover {
  border-radius: 50% !important;
}

.old-day:hover, .day:hover, .new-day:hover, .month:hover, .year:hover, .decade:hover, .century:hover {
  border-radius: 50% !important;
  background-color: #eee;
}

.active {
  background: var(--first-color-light-blue);
  overflow: hidden;
  color: var(--safety-yellow);
}

.range-start, .range-end {
  border-radius: 50% !important;
  background-image: linear-gradient(#1976D2, #1976D2) !important;
}

.range {
  background-color: #E3F2FD !important;
}

.prev, .next, .datepicker-switch {
  border-radius: 0 !important;
  padding: 10px 10px 10px 10px !important;
  font-size: 18px;
  opacity: 0.7;
  color: #fff;
}

.prev:hover, .next:hover, .datepicker-switch:hover {
  background-color: inherit !important;
  opacity: 1;
}

@media screen and (max-width: 726px) {
  .datepicker-dropdown.datepicker-orient-right:before {
    right: calc(50% - 6px);
  }

  .datepicker-dropdown.datepicker-orient-right:after {
    right: calc(50% - 5px);
  }
}