@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root{
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #0191b3;
    --first-color-yellow: #f1d302ff;
    --first-color-yellow-red: #ffbf46ff;
    --first-color-light-blue: #94c5ccff;
    --second-color: #235789ff;
    --second-color-2: #525157;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;

    --light-blue: #94c5ccff;
    --cultured: #f8f8f8ff;
    --red-pigment: #ed1c24ff;
    --baby-powder: #fdfffcff;
    --bdazzled-blue: #0191b3;
    --safety-yellow: #f1d302ff;
    --maximum-yellow-red: #ffbf46ff;
    --black: #020100ff;
}
.text-bdazzled-blue{
    color: #235789ff;
}
*,::before,::after{
    box-sizing: border-box;
}
body{
    position: relative;
    margin: var(--header-height) 0 0 0;
    /* padding: 0 1rem; */
    padding: 0 0rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}
a{
    text-decoration: none;
}
.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;
}
.header_toggle{
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}
.header_img{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.header_img img{
    /* width: 40px; */
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.l-navbar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    min-height: 100vh;
    max-height: 100vh;
    /* overflow-y: scroll; */
    background-color: var(--bdazzled-blue);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
}
.l-navbar::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}
.nav{
    min-height: 95vh;
    max-height: 95vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    scrollbar-color:  transparent transparent;
}
.nav::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}
.nav_logo, .nav_link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}
.nav_logo{
    margin-bottom: 2rem;
}
.nav_logo-icon{
    font-size: 1.25rem;
    color: var(--white-color);
}
.nav_logo-name{
    color: var(--white-color);
    font-weight: 700;
}
.nav_link{
    position: relative;
    color: var(--cultured);
    margin-bottom: 1.5rem;
    transition: .3s;
    cursor: pointer;
}
.nav_link:hover{
    color: var(--safety-yellow);
}
.itemShow li{
    list-style: none;
    color: var(--safety-yellow);
    margin-bottom: 5px;
}
.itemShow li a{
    color: var(--safety-yellow);
}
.itemShow li:hover{
    color: var(--maximum-yellow-red);
}
.itemShow li a:hover{
    color: var(--maximum-yellow-red);
    cursor: pointer;
    transform: scale(1.05);
    z-index: 1;
}
.nav_list li .nav_link{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.nav_list li .nav_link.active{
    background: var(--first-color-light-blue);
    overflow: hidden;
}

/* add spam item_show_tip  */
/* .item_show_tip{
    display: none;
}
.nav_list li .item_show_tip{
    position: absolute;
    left: 68px;
    transform: translateY(-125%);
    z-index: 3;
    background-color: var(--bdazzled-blue);
    padding-left: 20px;
    height: auto;
    width: 120px;
    color: var(--black);
    white-space: nowrap;
    line-height: 35px;
    opacity: 0;
    transition: 0s;
}
.nav_list li .item_show_tip a{
    color: var(--first-color-yellow);
}
.nav_list li:hover .item_show_tip{
    opacity: 1;
    transition: all 0.4s ease;
    cursor: pointer;
    display: block;
}
.l-navbar.open li .item_show_tip{
    display: none;
} */
/* add spam item_show_tip  */

.nav_icon{
    font-size: 1.25rem;
}
.nav_dropdown_icon{
    transition: .4s;
}
.open{
    left: 0;
}
.body-pd{
    padding-left: calc(var(--nav-width) + 1rem);
}
.active{
    color: var(--safety-yellow);
}
.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}
.height-100{
    height:100vh;
}
@media screen and (min-width: 768px){
    body{
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        /* padding-left: calc(var(--nav-width) + 2rem); */
        padding-left: calc(var(--nav-width));
    }
    .body{
        padding-left: calc(var(--nav-width) + 156px) !important;
    }
    .header{
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    .header_img{
        width: 40px;
        height: 40px;
    }
    .header_img img{
        width: 45px;
    }
    .nav_name, .nav_logo-name{
        padding-left: 1rem;
    }
    .l-navbar.open .nav_name, 
    .l-navbar.open .nav_logo-name{
        padding-left: 0;
    }
    .l-navbar{
        left: 0;
        /* padding: 1rem 1rem 0 0; */
        padding: 1rem 0 0 0;
    }    
    .open{
        width: calc(var(--nav-width) + 156px) !important;
    }
    .body-pd{
        padding-left: calc(var(--nav-width) + 188px) !important;
    }
}
@media screen and (min-width: 390px){
    body{
        margin: calc(var(--header-height) + 1rem) 0 0 0;
    }
    .body{
        padding-left: calc(var(--nav-width) + 120px);
    }
    .header{
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    .header_img{
        width: 40px;
        height: 40px;
    }
    .header_img img{
        width: 45px;
    }
    .l-navbar{
        width: var(--nav-width);
    }
    .open{
        width: calc(var(--nav-width) + 120px);
    }
    .body-pd{
        padding-left: calc(var(--nav-width) + 125px);
    }
}